<div class="row justify-content-center">
  <div class="col-sm-10 col-sm-offset-5">

    <div class="card text-center" style="padding:25px">
      <h5 class="card-title">SITIO EN CONSTRUCCION</h5>
      <p class="card-text">Informacion en desarrollo.</p>
    </div>

  <div/>
<div/>