<div class="container-fluid" style="padding-top: 30px;">
  <% if current_user === @user %>
    <%= render "users/perfil", user: @user %>
  <% else %>
    <%= render "users/collaborator", user: @user %>
  <% end %>
</div>
