 <%= turbo_frame_tag 'sale_products_list' do %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col" class="text-end">Precio</th>
        <th scope="col" class="text-end">Cantidad</th>
        <th scope="col" class="text-end">Importe</th>
        <th scope="col" class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      
      <%= render current_sale.sale_products %>
      
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-middle text-end">Total</td>
        <td class="align-middle text-end">$ 0.00</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>